<h1 align="center"> Hello World! </h1>
<br>
<br>
<br>
<p>This is the first demo project in  Ruby On Rails. It has many component and related to that we are performing many actions. We will be slowly adding the 
database in our project as well and then start to perform the real world actions into our project.</p>